#services{
  width: 100%;
  margin: 40px auto;
  background-color: black;


  @media screen and (max-width: 720px){
    padding: 20px;

    .title{
      text-align: center;
      color: #fff;

      & > span{
        color: #00acee;
      }
    }

    main{
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    .content-wrapper{
      grid-column: span 12;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0 20px 0;

      &:hover{
        transition: all 2.5s ease-in-out;
      }

      &:after{
        content: "";
        background-color: rgb(84, 82, 82);
        height: 0.1px;
        width: 100%;
        margin-top: 20px;
      }
    }

    .content-wrapper > h5{
      color: #ffb900;
      font-size: 1.2em;
      letter-spacing: 1px;
      margin: 1.8em 0 1.8em 0;
    }

    .content-wrapper > span{
      margin: 0 0 1.8em 0;
      width: 20%;
      height: 2px;
      text-align: center;
    }

    .content-wrapper > p{
      width: 95%;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
      text-transform: capitalize;
      letter-spacing: .3px;
      line-height: 1.8em;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
    }

    .icon-wrapper{
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid #fff 2px;
    }

    .icon{
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (max-width: 360px){
    .title{
      text-align: center;
    }

    main{
      // display: flex;
      // flex-direction: column;
    }

    .icon{
      color: white;
      font-size: 16px;
    }
  }
}