*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:-apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background: rgb(55, 131, 127);
    width: 100%;
    height: 150px;
    position: sticky;
}
.navbar{
    padding: 20px 0;
    display: flex;
    align-items: center;
}
nav{
    display: none;
    position: absolute;
    width: 100%;
    top: 150px;
    background: rgb(55, 131, 127);
    transition: 1s; 
}
nav ul{
    display: block;
    width: 90%;
    margin: 0 auto;
    
}
nav ul li {
    display: block;
    margin: 5px 0;
    border-bottom: white 1px solid;
    padding: 10px 0;
    width: 100%;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    width: 100%;
}

.logo-container{
    display: flex;
    flex-basis: 85%;
    justify-content: center;
    padding-right: 50px;
}
.outer, .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.outer{
    /* padding: 0  */
    width: 120px; height: 120px;
    border:rgb(237, 230, 230) 2px solid;
}
.inner{
    width: 110px; height: 110px;
    border:rgb(237, 230, 230) 2px dashed;
    flex-direction: column;
    color: white;
}
.icon, .exquisite-couture{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon{
    flex-basis: 30%;
}
.exquisite-couture{
    flex-basis: 70%;
    margin-top: 8px;
}
.icon img{
    width: 35%;
    height: 100%;
    padding-top: 1px;
}
.exquisite{
    font-size: 1.15rem;
    font-weight: bold;
}
.couture{
    font-size: 0.95rem;
    padding-top: 5px;
    font-weight: bold;
}
.menu-bar{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    
}
.menu{
    display: flex;
    flex-direction: column;
    width: fit-content;
    cursor: pointer;
    position: sticky;
}
.bar{
    width: 18px;
    height: 2px;
    margin: 3px 0;
    background-color: white;
}
.menu.active .upper{
    transform: translateY(8px) rotate(45deg);
    transition: all 1s ease;
}
.menu.active .lower{
    transform: translateY(-8px) rotate(-45deg);
    transition: all 1s ease;
}
.menu.active .middle{
    opacity: 0;
}

.on{
    display: flex;
}

.home-image{
    width: 100%;
    background: rgb(38, 35, 35);
}

.image img{
    width: 100%;
    height: auto;
}
/* WELCOME */
.welcome-container{
    width: 100%;
    background: rgb(191, 164, 168);
    padding: 10px 0;
}
.welcome{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}
.welcome h2, .business-hours h2, .contact-container h2{
    color: white;
    letter-spacing: 3px;
    font-size: 2rem;
    text-align: left;
    margin: 25px auto;
}
.welcome p, .business-hours p, .contact-container p{
    /* width: 100%; */
    text-align: justify;
    font-size: 1rem;
    line-height: 30px;
    margin: auto;
    color: white;
}

.business-hours-container{
    width: 100%;
    background: rgb(55, 131, 127);

}
.business-hours{
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
}
.business-hours h2, .business-hours p{
    width: 90%;
    color: rgb(255, 255, 255);
}

/* FORM */
#contact-form{
    background: rgb(191, 164, 168);
    padding: 20px 0;
    width: 100%;
}
#contact-form form{
    width: 90%;
    margin: 0 auto;
}
.feedback{
    font-size: 2rem;
    margin-bottom: 20px;
}
.form-div{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.form-div input, .form-div textarea{
    padding: 10px 5px;
    outline: none;
    border: none;
    border:rgb(223, 218, 218) 1px solid;
    border-radius: 3px;
    color: rgb(89, 90, 92);
    text-align: justify;
    letter-spacing: 1px;
    resize: none;
}
.form-div label{
    color: rgb(87, 83, 83);
    padding: 5px 0;
}

#submit{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: rgb(55, 131, 127);
    color: white;
    font-size: 1rem;
}

footer{
    height: 50px;
    width: 100%;
    background: rgb(55, 131, 127);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
}
.footer-container{
    width: 90%;
    margin: auto;
    text-align: center;
    
}

/* contact */
#contact{
    background: rgb(55, 131, 127);
    padding: 20px 0;
}
.contact-container{
    width: 90%;
    margin: auto;
}
.contact-info-container{
    padding: 15px 0;
}
.contact-info{
    margin: 15px 0;
    cursor: pointer;
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
}
.contact-info i{
    color: rgb(191, 164, 168);
    font-size: 1.5rem;
    margin-right: 5px;
}

.contact-info a{
    color: white;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

/* Onscroll Button */
#onscroll-btn{
    /* display: none; */
    font-size: 3rem;
    position: fixed;
    bottom: 3%;
    right: 3%;
    color: rgb(2, 2, 2);
    z-index: 99;
    cursor: pointer;
}
