#main{
  position: relative;
  margin: 20px auto;
  width: 90%;
  

  @media screen and (max-width: 720px){
    .left > h1{
      color: rgb(163, 163, 163);
      font-size: 2em;
      font-weight: 300;
      letter-spacing: 2px;
      text-align: center;
      margin: 10px auto;
      line-height: 1.5em;
      font-family: 'Work Sans', sans-serif;
    }

    .left > h2{
      font-size: 1.712em;
      color: #262c38;
      letter-spacing: 1px;
      position: relative;
      font-weight:600;
      text-align: center;
      margin: 1em auto;
      font-family: 'Work Sans', sans-serif;
    }

    .left > h2:after{
      border-top: 3px solid #eb5424;
      display: block;
      width: 100px;
      content: "";
      margin: 5px auto 0;
    }

    .left > h2 > span{
      color:#00acee;
      font-family: 'Work Sans', sans-serif;
    }

    .left > h4{
      text-align: left;
      margin: 1.5em 0 0 0;
      line-height: 30px;
      text-transform: capitalize;
      font-size: 1.3em;
      color: #303030;
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
    }

    .left > p{
      font-size: 15.5px;
      line-height: 2em;
      margin-top: 1em;
      color: #717171;
      letter-spacing: 1px;
      font-family: 'Work Sans', sans-serif;
    }

    .service-info-container{
      margin: 20px 0 10px 0;
      display: flex;
      justify-content: center;
    }

    .service-info-container > .service-info-link{
      padding: 0.8em 1em;
      background: #ffb900;
      border: 1px solid #ffb900;
      border-radius: 5px;
      margin: 0 auto;
      text-decoration: none;
      color: #fff; 

      &:hover{
        border:1px solid #00acee;
        background:#00acee;
        transition: 2s ease;
      }
    }
    .service-info-container > .service-info-link > button{
      border: none;
      color: #fff; 
      background: none;
      letter-spacing: 1px;
      font-size: 1em;

      & > .icon{
        font-size: 0.7em;
      }
    }
  } 
}


