
#header{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  

  @media screen and (max-width: 720px){
    color: white;
    height: 17vh;

    .logo-container{
      grid-column: 1 / 12;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .scissor{
      margin-right: 20px;
      height: 60px;
      width: 60px;
    }

    .header-text{
      font-size: 32px;
      text-transform: uppercase;
      font-family: 'Itim', cursive;
      // font-family: 'Catamaran', sans-serif;
    }

    .menu-bars-container{
      grid-column: 1 / 12;
      margin: 0 auto;
    }

    .menu-bars{
      width: 40px;
      height: 40px;
      background-color: rgb(18, 146, 220);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .bars{
      width: 25px;
      height: 2.5px;
      background-color: white;
      margin: 3px 0;
    }

    nav{
      grid-column: 1 / 12;
      
    }
  }
  

  
}