
#header{
  background-color: black;
  display: flex;
  padding: 10px 0;
  // flex-direction: column;
  
  @media screen and (max-width: 720px){
    color: white;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;

    .logo-container{
      display: flex;
      align-items: center;
    }

    .scissor{
      margin-right: 20px;
      height:  40px;
      width: 40px;
    }

    .header-text{
      font-size: 26px;
      margin: auto 0;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
    }

    .menu-bars-container{
      margin-left:  auto;
      position: relative;
    }

    .menu-bars{
      width: 45px;
      height: 35px;
      background-color: #0accff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .bar{
      width: 25px;
      height: 2px;
      background-color: white;
      margin: 4px 0;
    }

    nav{
      display: flex; 
      margin-top: 10px;
      transition: all 0.3s ease-in-out;
    }
    
    nav > ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
    }

    nav ul li{
      list-style: none;
      margin: 7px 0;
    }

    nav ul li .nav-item{
      font-size: 18px;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
      font-family: 'Catamaran', sans-serif;
    }

    nav ul li .nav-item.active{
      color: #ffb900;;
    }

    .top-bar{
      transform: rotate(45deg);
      position: absolute;
    }

    .middle-bar{
      display: none;
    }

    .bottom-bar{
      transform: rotate(-45deg);
      position: absolute;
    }

  }

  @media screen and (max-width: 360px){
    
  }
  

  
}