.hero-container{
  display: flex;
  flex-direction: column;
  height: 84.8vh;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hero-image{
  position: absolute;
  z-index: -1;
  width: 100vw;
  object-fit: cover;
}

/* video{
  display: none;
  object-fit: contain;
  width: 100%;
  height: 84.6vh;
  position: fixed;
  z-index: -1;
} */

.hero-header{
  position: absolute;
  top: 30%;
  left: 0;
  margin-left: 4%;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1em;
  font-size: 3rem;
}

.hero-header > span{
  margin-left: 20px;
}

.hero-text-container{
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  width: 25%;
  right: 0;
  margin-right: 3.5%;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.hero-text{
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.hero-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  background: #121218;
  padding: 10px 4%;
}

.hero-footer > a{
  color: #deb779;
  text-decoration: none;
  font-size: 1rem;
  font-weight: light;
  margin: 0 8px;
}

@media screen and (max-width: 960px){
  .hero-footer{
    display: none;
  }

  .hero-image{
    width: 100%;
    height: 100%;
  }

  .hero-text-container, .hero-header{
    display: none;
  }
}

