.navbar{
  background: #121218;
  height: 100px;
  top: 0;
  position: sticky;
  z-index: 1;
}
.navbar-container{
  height: 100px;
  max-width: 1500px;
  display: flex;
  align-items: center;
}
.logo-container{
  flex-basis: 35%;
  margin-left: 4%;
}
.navbar-logo{
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Monofett', cursive;
  color: #deb779;
  text-decoration: none;
  display: block;
  font-size: 3rem;
  letter-spacing: 0.15rem;
}

.navbar-logo .fa-leaf{
  color: #deb779;
  font-size: 2rem;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  flex-basis: 65%;
  justify-content: end;
  margin-right: 4%;
  text-decoration: none;
  font-family: "poppins", serif;
  font-style: normal;
}

.nav-links{
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.nav-links:hover{
  background: #deb779;
  border-radius: 3px;
}

.menu-icon{
  display: none;
}


@media screen and (max-width: 960px){
  
  .menu-icon{
    display: block;
  }

  .logo-container{
    flex-basis: 40%;
  }
  .navbar-logo{
    font-size: 2.5rem;
  }
  
  .menu-icon{
    color: white;
    margin-left: auto;
    margin-right: 4%;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    flex-direction: column;
    width: 100%;
    left: -100%;
    height: 84.8vh;
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active{
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    background: #121218;
    width: 100%;
    gap: 0;
  }

  .nav-links{
    padding: 1.5rem;
    display: block;
    text-align: center;
    width: 100%;
    transition: all 0.7s ease;
    cursor: pointer;
  }

  .nav-links:hover{
    background: #deb779;
    transition: all 1.7s ease;
  }




}