.slider{
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0 auto;
}
.slide{
  width: 100%;
  height: 100%;
  align-self: center;
  /* transition: all 1s ease; */
}

.slide-item{
  width: 100%;
  height: 100%;
}
.slide-item img{
  width: 100vw;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .slider{
    width: 100%;
    height: 100%;
  }
  .slide-item img{
    width: 100vw;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .slide-item img{
    width: 100%;
    height: 100%;
  }
}