@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700;900&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Work Sans', sans-serif;

}
